<!-- <mat-card>Pls login in
  <input placeholder="email" [(ngModel)]="email">

  <section>
    Do you have an account?
    <mat-radio-group [(ngModel)]="labelPosition">
      <mat-radio-button value="login">Yes,I have an account and my password is:</mat-radio-button>
      <mat-radio-button value="signup">No, register me now</mat-radio-button>
    </mat-radio-group>
  </section>

  <input placeholder="password" type="password" [(ngModel)]="password">

  <section>
    <ng-container *ngIf="labelPosition==='login'; else newUser">
      <button mat-raised-button color="primary" (click)="login()">Log in</button>
    </ng-container>

    <ng-template #newUser>
      <button mat-raised-button color="primary" (click)="signup()">Sign up</button>
    </ng-template>
  </section>
</mat-card> -->

<mat-card class="signup-card">

  <h1 class="header" @slideInDown *ngIf="newUser">SIGN UP</h1>
  <h1 class="header" @slideInDown *ngIf="!newUser">LOG IN</h1>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">

    <mat-form-field #formField @bounceInLeft appearance="outline">
      <input matInput placeholder="email" formControlName="email">
    </mat-form-field>

    <mat-form-field #formField @bounceInLeft appearance="outline">
      <input matInput placeholder="password" type="password" formControlName="password">
    </mat-form-field>

    <ng-container *ngIf="newUser; else login">
      <mat-card-actions>
        <button type="submit" [disabled]="signupForm.invalid" @bounceInRight mat-raised-button color="primary">Sign
          up</button>
      </mat-card-actions>
    </ng-container>

    <ng-template #login>
      <mat-card-actions>
        <button type="submit" [disabled]="signupForm.invalid" @bounceInRight mat-raised-button color="primary">Log
          in</button>
      </mat-card-actions>
    </ng-template>

  </form>

  <h5 class="footer" @slideInUp *ngIf="newUser">Already got an account? <a (click)="newUser = false">Log in</a> now!
  </h5>

</mat-card>