<!-- <mat-card>Pls login in
  <input placeholder="email" [(ngModel)]="email">

  <section>
    Do you have an account?
    <mat-radio-group [(ngModel)]="labelPosition">
      <mat-radio-button value="login">Yes,I have an account and my password is:</mat-radio-button>
      <mat-radio-button value="signup">No, register me now</mat-radio-button>
    </mat-radio-group>
  </section>

  <input placeholder="password" type="password" [(ngModel)]="password">

  <section>
    <ng-container *ngIf="labelPosition==='login'; else newUser">
      <button mat-raised-button color="primary" (click)="login()">Log in</button>
    </ng-container>

    <ng-template #newUser>
      <button mat-raised-button color="primary" (click)="signup()">Sign up</button>
    </ng-template>
  </section>
</mat-card> -->

<mat-card class="signup-card">

  <h1 class="header" *ngIf="!newUser">SIGN UP</h1>
  <h1 class="header" *ngIf="newUser">LOG IN</h1>

  <ng-template *ngIf="true">
  </ng-template>
  <ng-template *ngIf="!newUser">
  </ng-template>

  <mat-form-field appearance="outline">
    <input matInput placeholder="email" [(ngModel)]="email">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput placeholder="password" type="password" [(ngModel)]="password">
  </mat-form-field>

  <ng-container *ngIf="!newUser; else _login">
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="signup()">Sign up</button>
    </mat-card-actions>
  </ng-container>

  <ng-template #_login>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="login()">Log in</button>
    </mat-card-actions>
  </ng-template>

  <h5 class="footer" *ngIf="!newUser">Already got an account? <a (click)="newUser = true">Log in</a> now!</h5>

</mat-card>