<mat-card class="edit-card">
    <form #newTaskForm="ngForm" (ngSubmit)="saveTask(newTaskForm)">

        <mat-card-actions>
            <button mat-icon-button class="del-btn" (click)="deleteTask()">
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-icon-button type="submit" class="save-btn">
                <mat-icon>check</mat-icon>
            </button>
        </mat-card-actions>

        <mat-card-content>
            <mat-form-field>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMaxRows="7"
                    name="content" ngModel></textarea>
            </mat-form-field>
        </mat-card-content>
    </form>
</mat-card>
